/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

html,
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

.tabs-content {
  height: 100% !important;
}

div[id^="test-swipe-"] {
  padding: 20px;
}

div[id="test-swipe-3"] label {
  color: black;
}

div#test-swipe-3 > ul.collapsible > li {
  background-color: white;
}

div#test-swipe-3 > ul.collapsible > li > div.collapsible-header {
  font-weight: bold;
}

div#test-swipe-3, div#test-swipe-4 {
  overflow: auto;
}


div#test-swipe-3 a#unlock {
  display: none;
}

div#test-swipe-4 a#accept {
  display: none;
}


div#test-swipe-4 input {
  display: none;
}